{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <title>{% block title %}SlowLab{% endblock %}</title>
    {% block meta %} {% endblock meta %}

    <style></style>


</head>

<body>
    {% include "header.html" %}
    <main>
        <div class="container">

            <div class="row" style="padding-top: 2rem;">
                <div class="col">
                    <div class="h-100 card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Layanan</h5>
                            <p class="card-text">Kami menawarkan layanan test-covid yang luas untuk anda, tanpa perlu
                                keluar dari rumah</p>
                            <a href="/product-list" class="btn btn-primary">Layanan</a>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="h-100 card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Cek Lokasi</h5>
                            <p class="card-text">Cari tahu dimana lokasi terdekat lab kami</p>
                            <a href="/lokasi" class="btn btn-primary">Cek Lokasi</a>
                        </div>
                    </div>
                </div>


                <div class="col">
                    <div class="h-100 card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Tanya jawab</h5>
                            <p class="card-text">Lakukan tanya jawab secara langsung dengan tim pakar kami</p>
                            <a href="/forum" class="btn btn-primary">forum</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="padding-top: 2rem; padding-bottom: 2rem;">
                <div class="card w-100">
                    <div class="card-header d-flex justify-content-end" style="background-color:#001D3D">
                        <div class="text-white mx-auto">
                            <h1>Data Covid-19</h1>
                        </div>

                        <input type="text" name="example" list="exampleList" placeholder="masukkan provinsi"
                            id="myinput">
                        <datalist id="exampleList">
                        </datalist>


                        <script>
                            $(document).ready(function () {
                                $.ajax({
                                    type: 'GET',
                                    url: 'getData',
                                    success: function (result) {
                                        let temp = '';
                                        for (let i = 0; i < result.length; i++) {
                                            temp += `<option value="${result[i].fields.name}">${result[i].fields.name}</option>`;
                                        }
                                        $("#exampleList").append(temp);

                                        $("#myinput").on('change', function () {
                                            var val = $("#myinput").val();

                                            for (let i = 0; i < result.length; i++) {
                                                if (val == result[i].fields.name) {
                                                    $("#jumlah-terkonfirmasi").html(result[i].fields.total_kasus);
                                                    $("#jumlah-sembuh").html(result[i].fields.sembuh);
                                                    $("#jumlah-aktif").html(result[i].fields.meninggal);
                                                    $("#jumlah-meninggal").html(result[i].fields.kasus_aktif);
                                                    $("#penambahan-tk").html("penambahan: " + result[i].fields.penambahan_tk);
                                                    $("#penambahan-s").html("penambahan: " + result[i].fields.penambahan_s);
                                                    $("#penambahan-ka").html("penambahan: " + result[i].fields.penambahan_ka);
                                                    $("#penambahan-m").html("penambahan: " + result[i].fields.penambahan_m);
                                                }
                                            }

                                        });
                                    }
                                });
                            });
                        </script>

                    </div>

                    <div class="card-body">
                        <div class="container px-2 py-2">
                            <div class="row row-cols-2 gx-2">
                                <div class="col">
                                    <div class="card text-white bg-danger mb-3">
                                        <div class="card-header">Terkonfirmasi</div>
                                        <div class="card-body">
                                            <h5 class="card-title" id="jumlah-terkonfirmasi">jumlah</h5>
                                            <p class="card-text" id="penambahan-tk">penambahan</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card text-white bg-success mb-3">
                                        <div class="card-header">Sembuh</div>
                                        <div class="card-body">
                                            <h5 class="card-title" id="jumlah-sembuh">jumlah</h5>
                                            <p class="card-text" id="penambahan-s">penambahan</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card text-white bg-warning mb-3">
                                        <div class="card-header">Kasus aktif</div>
                                        <div class="card-body">
                                            <h5 class="card-title" id="jumlah-aktif">jumlah</h5>
                                            <p class="card-text" id="penambahan-ka">penambahan</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card text-white bg-secondary mb-3">
                                        <div class="card-header">Meninggal</div>
                                        <div class="card-body">
                                            <h5 class="card-title" id="jumlah-meninggal">jumlah</h5>
                                            <p class="card-text" id="penambahan-m">penambahan</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>


                </div>
            </div>

        </div>

    </main>
    {% include "footer.html" %}

    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous">
        </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
</body>

</html>