{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <title>{% block title %}SlowLab{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

    <script>

        var outBooking = outLokasi = outJenis = '';

        $.when(

            $.ajax({
                url: "/lokasi/get-lokasi",
                success: function (result) {
                    result.forEach(function (datum) {
                        var current = datum.fields;
                        outLokasi += `
                            <option>${current.nama} - ${current.provinsi}</option>
                            `
                    })
                    console.log(result)
                }
            }),

            $.ajax({
                url: "get-jenis",
                success: function (result) {
                    result.forEach(function (datum) {
                        var current = datum.fields;
                        outJenis += `
                            <option>${current.nama}</option>
                            `
                    })
                }
            })
        ).then(function () {
            document.getElementById('lokasi').innerHTML = outLokasi;
            document.getElementById('jenis').innerHTML = outJenis;
        })


    </script>

    <style></style>
</head>

<body>
    <main>
        <section class='w-75 m-auto p-4 py-5'>
            <div id="#modal"></div>
            <div class"form-wrapper">
                <form action="" method="POST" class="needs-validation py-5" novalidate
                    onsubmit="return confirm('Reservasi akan dikirimkan, Lanjutkan?');">
                    {% csrf_token %}
                    <h1 class="py-2">Reservasi Tes COVID-19</h1>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email: </label>
                        <input id="email" type="text" class="form-control" name="email" value="{{ request.user.email }}"
                            required />
                        <br />
                        <label for="nama_lengkap" class="form-label">Nama Lengkap: </label>
                        <input id="nama_lengkap" type="text" class="form-control" name="nama_lengkap"
                            value="{{ request.user.user_profile.full_name }}" required />
                        <br />
                        <label for="nomor_wa" class="form-label">Nomor Whatsapp: </label>
                        <input id="nomor_wa" type="tel" class="form-control" name="nomor_wa"
                            value="{{ request.user.user_profile.phone }}" required />
                        <br />
                        <label for="lokasi" class="form-label">Lokasi Tes: </label>
                        <select id="lokasi" type="text" class="form-control" name="lokasi" value="{{ current_lokasi }}">
                        </select>
                        <br />
                        <label for="tanggal" class="form-label">Tanggal Tes: </label>
                        <input id="tanggal" type="date" class="form-control" name="tanggal"
                            value="{{ current_tanggal }}" required />
                        <br />
                        <label for="jenis" class="form-label">Jenis Tes: </label>
                        <select id="jenis" type="text" class="form-control" name="jenis" value="{{ current_jenis }}">
                        </select>
                        <br />
                        <input type="submit" value="Buat Reservasi" class="btn btn-warning btn-lg btn-block" />
                    </div>
                </form>
            </div>
        </section>
        <script>
                // Example starter JavaScript for disabling form submissions if there are invalid fields
                (function () {
                    'use strict';
                    window.addEventListener('load', function () {
                        // Fetch all the forms we want to apply custom Bootstrap validation styles to
                        var forms = document.getElementsByClassName('needs-validation');
                        // Loop over them and prevent submission
                        var validation = Array.prototype.filter.call(forms, function (form) {
                            form.addEventListener('submit', function (event) {
                                if (form.checkValidity() === false) {
                                    event.preventDefault();
                                    event.stopPropagation();
                                }
                                form.classList.add('was-validated');
                            }, false);
                        });
                    }, false);
                })();
        </script>
        <form onsubmit="return validate(this);">
    </main>

    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous">
        </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
</body>

</html>