{% extends "base.html" %}
{% load static %}

{% block title %}
Product List
{% endblock title %}

{% block meta %}
    <script src="{% static 'js/product-list.js' %}" defer></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/product-list.css' %}">
{% endblock meta %}

{% block content %}
<div class="container">
    <div class="pt-3" style="display: flex; justify-content: space-between; width: 100%;" >
        <h2 class="mb-0">Apa yang kami tawarkan</h2>
        <hr>
        <div class="text-center">
            <form id="search-form" class="ml-auto" style=" position: relative;" autocomplete="off">
                {% csrf_token %}
                <input type="text" id="search-input" class="p-1 search" style="width: 16rem;" placeholder="Cari di sini...">
                <div id="results-box" class="results-card not-visible" style="position: absolute; width: 100%; z-index: 50;"></div>
            </form>
        </div>
    </div>
    <hr>
    <div class="d-flex align-content-stretch justify-content-center flex-wrap">
    {% for produk in products %}
        <div class="card m-2 d-flex align-content-stretch justify-content-center flex-wrap" style="width: 18rem">
            <div class="card-body">
            <h5 class="card-title d-flex align-content-stretch justify-content-center">{{produk.name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted d-flex align-content-stretch justify-content-center">Rp{{produk.price}}</h6>
            {% if user.is_authenticated %}
                <a href="/booking/" class="btn btn-warning btn-lg d-flex align-content-stretch justify-content-center">Pesan sekarang</a>
            {% else %}
                <a href="/auth/login" class="btn btn-warning btn-lg d-flex align-content-stretch justify-content-center">Pesan sekarang</a>
            {% endif %}
            <a href="/product-list/{{produk.pk}}" class="btn mt-1 btn-warning btn-lg d-flex align-content-stretch justify-content-center" style="background-color: #001D3D; color: white;border: none;">Detail</a>
            </div>
        </div>
    {% endfor %}

    </div>
</div>
{% endblock content%}