{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />


  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'css/product-list.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <title>{% block title %}Product List{% endblock %}</title>
  {% block meta %} <script src="{% static 'js/product-list2.js' %}" defer></script> {% endblock meta %}
  <style></style>
</head>

<body>
  {% include "header2.html" %}
  <div class="container">
    <div class="pt-3" style="display: flex; justify-content: space-between; width: 100%;" >
        <h2 class="mb-0">Apa yang kami tawarkan</h2>
        <hr>
        <div class="text-center">
            <form id="search-form" class="ml-auto" style=" position: relative;" autocomplete="off">
                {% csrf_token %}
                <input type="text" id="search-input" class="p-1 search" style="width: 15rem;" placeholder="Cari di sini...">
                <div id="results-box" class="results-card not-visible" style="position: absolute; width: 100%; z-index: 50;"></div>
            </form>
        </div>
    </div>
    <hr>
    <div class="d-flex align-content-stretch justify-content-center flex-wrap">
    {% for produk in products %}
        <div class="card m-2 d-flex align-content-stretch justify-content-center flex-wrap" style="width: 18rem">
            <div class="card-body">
            <h5 class="card-title d-flex align-content-stretch justify-content-center">{{produk.name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted d-flex align-content-stretch justify-content-center">Rp{{produk.price|intcomma}}</h6>
            {% if user.is_authenticated %}
                <a href="/booking/" class="btn btn-warning btn-lg d-flex align-content-stretch justify-content-center">Pesan sekarang</a>
            {% else %}
                <a href="/auth/login" class="btn btn-warning btn-lg d-flex align-content-stretch justify-content-center">Pesan sekarang</a>
            {% endif %}
            <a href="/product-list/{{produk.pk}}" class="btn mt-1 btn-warning btn-lg d-flex align-content-stretch justify-content-center" style="background-color: #001D3D; color: white;border: none;">Detail</a>
            </div>
        </div>
    {% endfor %}

    </div>
</div>
  {% include "footer.html" %}
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>

</html>