.container{
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 1080px;
}

.textarea-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.textarea{
    font-size: 14px;
    width: 100%;
    height: 80px;
}

h5{
    padding-top: 30px;
    color: #FFC300;
    text-align: center;
}

.nama{
    height: 30px;
    width: 35%;
}

.text-muted{
    font-size: 12px;
}

.input-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.button-container{
    display: flex;
    flex-direction: row-reverse;
}

.btn-primary{
    background-color: #FFC300 !important;
    color: black !important;
}

.cards-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.card{
    width: 100% !important;
}

.answer-container{
    display: flex !important;
    flex-direction: row-reverse !important;
    padding-bottom: 30px !important;
}

.card-answer{
    width: 95% !important;
}