@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap");
html {
  min-height: 100%;
  height: fit-content;
}

body {
  font-family: "Rubik", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  height: 100%;
}

.navbar {
  background-color: #001d3d;
}

footer {
  background-color: #001d3d;
  margin-top: auto;
}
