{% extends "base.html" %}
{% load static %}

{% block title %}
Cek Hasil Pemeriksaan Tes Covid-19{% endblock title %}
{% block meta %}
{% endblock meta %}

{% block content %}

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<section>
<title>Cek Hasil Pemeriksaan Tes Covid-19</title>
<body>
    <section>
        <div class="container">
            <h1 class="text-center" style="margin-top: 100px;">Cek Hasil Pemeriksaan Tes Covid-19</h1>
        </div>
        <div class="container text-center" style="margin-top: 20px; margin-bottom: 30px;">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="d-flex p-2 justify-content-center">
                    <input oninput="this.setCustomValidity('')" oninvalid="this.setCustomValidity('Try 12345, 56789, 33333, 9999')" type="text" name="no_test" id="testSearch" class="form-control" style="width: 500px;" placeholder="Masukan nomor pemeriksaan..." required>
                </div>
                <!-- <input type="submit" value="submit" name="submit_button" class="btn btn-primary" style="border: none;background-color: #FFC300; color: black; margin-top: 10px; margin-right: 5px;"> -->
                <input type="submit" value="Reset" name="reset_button" class="btn btn-primary" style="border: none;background-color: #FFC300; color: black; margin-top: 10px; margin-left: 5px" placeholder="0">
            </form>
        </div>
        <div id="hasil" class="container">
            <div>
                <div  class="row row-2 row-cols-md-3 g-4 col justify-content-center">
                    {% for hasil in hasil %}
                    <ul>
                        <div class="card" style="margin: 10px; padding: 0;">
                            <div class="card-header card-title">
                                <h4 class="card-title">{{hasil.status}}</h4>
                            </div>
                            <div id="my_card" class="card-body">
                                <p>Nama: {{hasil.nama}}</p>
                                <p></p>No. KTP: {{hasil.no_ktp}}</p>
                                <p>Tanggal tes: {{hasil.tanggal_tes}}</p>
                                <p id="no_test" hidden> {{hasil.cek_no_test}}</p>
                            </div>
                        </div>
                    </ul>
                    {%endfor%}
                </div>
            </div>
        </div>
        <div style="margin-bottom: 30px;"></div>
    </section>
</body>
<script>
    $("#testSearch").on("keyup", function()
    {
        var value=$(this).val();

        $("div ul").each(function(records)
        {
            if(records != 0)
            {
                var id=$(this).find("#no_test:first").text();
                if(id.indexOf(value) != 0 && id.toLowerCase().indexOf(value.toLowerCase())<0)
                {
                    $(this).hide();
                }
                else
                {
                    $(this).show();
                }
            }
        });
    });
</script>
</section>
{% endblock content %}