{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/indexLokasi.css' %}" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <title>Lokasi Cek Covid-19</title>
  <style></style>
</head>
<body>
    {% include "header2.html" %}
    <main>
    <section>
        <div>
            {% if request.user.is_staff %}
            <a href="add-lokasi/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" style="background-color: #FFC300; color: black; float: right;">Tambah Lokasi</a>
            {% endif %}
            <h1>Cari Lokasi Tes Covid-19</h1>
            <br>
            <div class="input-group">
                <input id ="search" type="text" class="form-control rounded" placeholder="Masukkan nama lengkap provinsi lokasi.." aria-label="Search"
                aria-describedby="search-addon"/>
                <button onclick="get()" type="button" class="btn btn-outline-primary">Cari</button>
            </div>
            <br>
            <div class ='display'>
                <h3>Slowlab Hadir di Berbagai Daerah Untuk Memudahkan Anda!</h3>
                <br>
                <h4>Lab Pusat</h4>
                <br>
                <div class="card-container">
                        <div class="card" style="width: 18rem; ">
                        <div class="card-body">
                        <h5 class="card-title">Slowlab Jakarta Pusat</h5>
                        <p class="card-text">Alamat           : Jl. Restu, Kec. Kemayoran, Jakarta Pusat, 10640</p>
                        <p class="card-text">Jam Operasional  : 10.00 - 18.00</p>
                        <p class="card-text">No. Telepon      : (021)6711291</p>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <script type='text/javascript'>
        function get()
            {
                var value = $('#search').val();
                let val = ("" + value).toLowerCase();
                $.ajax({
                    url: 'get-lokasi',
                    type: 'GET',
                    data: {},
                    success: function (result){
                        var container = $(".card-container").html("<div class='card-columns'></div>");
                        for (let index = 0; index < result.length; index++) {
                            var hasil = result[index];
                            if(hasil.fields.provinsi.toLowerCase().includes(val)){
                                var cards = `<div class="card" style="width: 18rem;">
                                        <div class="card-body">
                                        <h5 class="card-title">${hasil.fields.nama}</h5>
                                        <p class="card-text">Alamat           : ${hasil.fields.alamat}</p>
                                        <p class="card-text">Jam Operasional  : ${hasil.fields.jam_buka} - ${hasil.fields.jam_tutup}</p>
                                        <p class="card-text">No. Telepon      : ${hasil.fields.nomor}</p>
                                        </div>
                                        </div>
                                        `;
                                $(".card-columns").append(cards);
                            }
                        }
                        $(".display").html(container);
                    }
                });
            };
           
        </script>  
        </main>  
        {% include "footer.html" %}
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>
</html>