<footer class="text-center text-white">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2021 Copyright:
        <a class="text-white" href="/">SlowLab</a>
    </div>
</footer>