.display{
    text-align: center;
}

.card-text{
    text-align: left;
    border: 1.5px solid #FFC300;
    padding: 3px;
}

main{
    margin: 20px;
}

.input-group {width:50% !important;}

.btn-outline-primary{
    background-color: #001D3D;
    color: white;
}
.card-container{
    margin: auto;
}

.card{
    color: white;
    background-color: #001D3D;
    display: inline-block;
	margin: auto;
	width: 50%;
    box-shadow: 0px 3px 8px black;
}

.card-title{
    background-color: #FFC300;
    padding:0px;
    border-bottom: 2px solid black;
    color: black;

}

@media screen and (max-width: 991px){
    .card-columns{
        width: 100%;
    }
    .card{
        display: inline-block;
	    margin: auto;
        width: auto !important;
        box-shadow: 0px 3px 8px black;
    }
}