{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

  <style>
    .profile{
        padding: 10px;
        background-color: #ffc107;
        border-radius: 100px;
        margin-bottom: 16px;
        margin-right: 16px;
    }
    .user_detail{
        color: white;
    }
    
  </style>

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <title>{% block title %}SlowLab{% endblock %}</title>
  {% block meta %} {% endblock meta %}
  <style></style>
</head>

<body>
  {% include "header2.html" %}
  <main>
    <div class= "container" style="margin-top: 50px; margin-bottom: 50px;" > 
      <div class= "container-center" style="background-color: rgba(0, 53, 102, 1); padding: 16px ;border-radius: 30px;">
        <div class="row align-items-start" style="padding: 16px;">
            <img class="col-2" src="https://media.discordapp.net/attachments/805794654129356811/906057089359683645/profile_icon.png?width=515&height=515" alt="profile picture" style="height: 100%; border-radius: 100%; padding: 1.5%; background-color: #ffc107;">
            <div class="col-10">
              <div class="user_detail">
                <h2> 
                    Hallo, {{username}} 
                </h2>
    
                <table>
                    <tr>
                      <td>Username </td>
                      <td>: {{username}}</td>
                    </tr>
                    <tr>
                      <td>Email </td>
                      <td>: {{email}}</td>
                    </tr>
                    <tr>
                      <td>Nama Lengkap </td>
                      <td>: {{full_name}}</td>
                    </tr>
                    <tr>
                      <td>Tanggal Lahir </td>
                      <td>: {{bod}}</td>
                    </tr>
                    <tr>
                      <td>Phone </td>
                      <td>: {{phone}}</td>
                    </tr>
                    <tr>
                      <td>Province </td>
                      <td>: {{province}}</td>
                    </tr>
                    <tr>
                      <td>Address </td>
                      <td>: {{address}}</td>
                    </tr>
                  </table>
                
                  <a href="{% url 'profile_settings' %}" class="btn btn-warning" style="border-radius: 15px; margin-top: 20px; width: 150px;" >Edit</a>
              </div>
            </div>  
        </div>
      </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
    'use strict'

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.querySelectorAll('.needs-validation')

    // Loop over them and prevent submission
    Array.prototype.slice.call(forms)
        .forEach(function (form) {
        form.addEventListener('submit', function (event) {
            if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
            }
            form.classList.add('was-validated')
        }, false)
        })
    })()
    </script>
  </main>
  {% include "footer.html" %}

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>

</html>
